/*---------------------------------------
       GLOBAL VARIABLES
-----------------------------------------*/
:root {
    --bg-dark-color: hsl(0, 0%, 100%);
    --bg-color: hsl(0, 0%, 95%);
    --bg-light-color: hsl(0, 0%, 90%);
    --overlay-color: hsla(0, 0%, 90%, 0.5);

    --text-dark-color: hsl(0, 0%, 0%);
    --text-medium-color: hsl(0, 0%, 20%);
    --text-light-color: hsl(0, 0%, 80%);
    --black-color: hsl(0, 0%, 0%);
    --white-color: hsl(0, 0%, 100%);

    --base-font-family: Arial, -apple-system;
    --h1-font-family: "barton", sans-serif;
    --h2-font-family: serif;
    --font-weight-bold: 600;
    --font-weight-normal: 400;
    --font-weight-light: 300;

    --h1-font-size: 200px;
    --h2-font-size: 5vw;
    --h3-font-size: 4vw;
    --h4-font-size: 3vw;
    --h5-font-size: 32px;
    --h6-font-size: 24px;
    --base-font-size: 16px;
    --button-font-size: 20px;

    --border-radius-circle: 50%;
    --border-radius-large: 32px;
    --border-radius-small: 16px;
}

[data-theme="dark"] {
    --bg-dark-color: hsl(0, 0%, 20%);
    --bg-color: hsl(0, 0%, 35%);
    --bg-light-color: hsl(0, 0%, 10%);
    --overlay-color: hsla(0, 0%, 10%, 0.5);

    --text-dark-color: hsl(0, 0%, 100%);
    --text-medium-color: hsl(0, 0%, 60%);
    --text-light-color: hsl(0, 0%, 20%);
}

/*---------------------------------------
TYPOGRAPHY              
-----------------------------------------*/
body {
    font-family: var(--base-font-family);
    overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: var(--text-dark-color);
}

h1,
h2,
h3 {
    text-transform: uppercase;

}

h1 {
    font-family: var(--h1-font-family);
    font-size: var(--h1-font-size);
    font-weight: var(--font-weight-bold);
}

h2 {
    font-family: var(--h2-font-family);
    font-size: var(--h2-font-size);
}

h3 {
    font-size: var(--h3-font-size);
}

h4 {
    font-size: var(--h4-font-size);
}

h5 {
    font-size: var(--h5-font-size);
}

h6 {
    font-size: var(--h6-font-size);
}

p {
    font-size: var(--base-font-size);
    font-weight: var(--font-weight-light);
    letter-spacing: 0.3px;
    line-height: 2em;
    text-align: justify;
    text-justify: inter-word;
}

div, p, a{
    color: var(--text-dark-color);
}
section {
    background-color: var(--bg-light-color);
    align-items: center;
    height: 100vh;
    display: flex !important;
    margin: auto;
    position: sticky;
    top: 0;
    border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
    box-shadow: 0 -16px 32px;
}

section:first-of-type {
    border-radius: 0;
}

section:nth-child(odd) {
    background-color: var(--bg-dark-color);

}

a {
    text-decoration: none;
    transition: all 0.4s linear;
    color: var(--text-medium-color);
}

a:hover {
    color: var(--text-dark-color);
    text-decoration: none;
}

.vertically-centered {
    align-content: center;
}

/*---------------------------------------
       NAVBAR
-----------------------------------------*/

.settings-container {
    margin-left: 150%;
    background-color: var(--bg-light-color);
    width: 100%;
    height: 100vh;
    position: fixed;
    border-radius: var(--border-radius-large) 0 0 var(--border-radius-large);
    box-shadow: -8px 0px 32px;
    z-index: 11;
    transition: margin-left 0.5s ease;
      
}

.navigation,
.experience-details-container {
    margin-left: 100%;
    background-color: var(--bg-dark-color);
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 10;
}

.navigation .links, .navigation .settings-item {
    position: absolute;
    top: calc(50% - 100px);
    left: calc(25% - 80px);
    text-align: right;
}

.navigation a,
.experience-details-container a {
    color: var(--text-dark-color);
    display: block;
    font-size: 32px;
    margin: auto;
}

.navigation .close,
.experience-details-container .close,
.navigation .settings-container .close {
    position: absolute;
    top: 0;
    right: 50%;
    padding: 12px 16px;
}

.navigation .settings {
    display: block;
    position: absolute;
    right: 50%;
    bottom: 0;
    padding: 12px 20px;

}

ul.screen-indicator {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: auto;
    position: fixed;
    right: 32px;
    top: calc(50% - 40px);
    z-index: 7;
}

.screen-indicator li {
    border: 4px solid var(--text-dark-color);
    display: inline-block;
    border-radius: var(--border-radius-circle);
    height: 16px;
    width: 16px;
}

.screen-indicator li.active {
    background-color: var(--text-dark-color);
}

/*----------------------------------------
       LOGO
-----------------------------------------*/

.logo {
    width: 600px;
    font-family: var(--h1-font-family);
    font-weight: bold;
    text-align: center;
    margin: auto;
}

.logo .top {
    border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
    background-color: var(--black-color);
}

.logo .top h1 {
    color: var(--white-color);
    font-size: 200px;
    padding: 40px 0;
    margin-bottom: 0;
}

.logo .bottom h1 {
    position: relative;
    display: inline-block;
    color: var(--black-color);
    font-size: 200px;
    margin-bottom: 0;
    padding: 40px 0;
    z-index: 2;
}

.logo .bottom h1:nth-child(2) {
    z-index: 1;
}

.logo .bottom {
    position: relative;
    border: 8px black solid;
    background-color: var(--white-color);
    border-radius: 0 0 var(--border-radius-large) var(--border-radius-large)
}

.logo .bottom img {
    position: absolute;
    bottom: -4px;
    right: 15%;
    z-index: 1;
}

.arrow-left,
.arrow-right {
  position: absolute;
  width: 30%;
  height: auto;
  z-index: 0;
}

.arrow-left {
  top: 10%;
  left: -10%;
  transform: rotate(10deg);
}

.arrow-right {
  bottom: 5%;
  right: -5%;
  transform: rotate(-15deg);
}

#top>img:nth-of-type(1) {
    width:30%;
    position: absolute;
    max-width: 250px;
    left: calc(32% - 330px);
    z-index: 1;
    top: calc(45% - 300px);
}

#top>img:nth-of-type(2) {
    width: 30%;
    position: absolute;
    max-width: 250px;
    right: calc(32% - 300px);
    z-index: 1;
    bottom: calc(45% - 330px);
    transform: scaleX(-1);
}

#top h5 {
    position: absolute;
    top: calc(10% - 100px);
    left: 0;
    font-size: var(--h5-font-size);
    text-align: center;
    width: 400px;
}

.traits {
    position: absolute;
    bottom: 20%;
    right: 10%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.menu-icon {
    position: fixed;
    top: 32px;
    right: 32px;
    font-size: 32px;
    z-index: 9;
}

.scroll {
    position: absolute;
    bottom: 2%;
    right: 50%;
    font-size: 32px;
}

/*---------------------------------------
       ABOUT                
-----------------------------------------*/

section h2 {
    text-align: right;
}

img.side {
    position: absolute;
    height: 70vh;
    display: block;
    margin: 0 auto;
    right: 0;
    bottom: 0;
    opacity: 0.3;
}


/*---------------------------------------
       EXPERIENCE               
-----------------------------------------*/

.experience-item {
    flex: 0 0 calc(100% / 3);
    position: relative;
    text-wrap: wrap;
    white-space: initial;
    margin: 0 auto;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: var(--border-radius-large);
    transform: translateY(100%);
    transition: transform 0.4s ease-out;
}

.overlay button {
    display: none;
}

.experience-item:hover .overlay {
    transform: translateY(0);
}

.experience-item:hover img {
    transform: translateY(-64px);
    border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
    transition: transform 0.4s ease-in;
}

.experience-item:hover .overlay button {
    display: block;
    position: absolute;
    bottom: 0;
    width: 200px;
    background-color: var(--text-light-color);
    border: none;
    border-radius: 0 0 var(--border-radius-large) var(--border-radius-large);
    color: var(--text-dark-color);
    cursor: pointer;
    font-size: var(--button-font-size);
    line-height: 0;
    padding: 32px;
    white-space: nowrap;
}

.experience-details-container {
    align-content: center;
}

.experience-details {
    max-width: 50%;
    padding: 0 32px;
}

.experience-details h4,
.experience-details h5 {
    margin: 16px 0;
    text-align: center;
}

.experience-item img,
.experience-details img {
    display: block;
    margin: auto;
    height: 200px;
    width: 200px;
    display: block;
    border-radius: var(--border-radius-large);
    transition: transform 0.4s ease-out;
}

.experience-container {
    margin: 0 0 32px 32px;
    white-space: nowrap;
    overflow: hidden;
    -ms-overflow-style: none;
    display: flex;
    /* Hide scrollbar in IE and Edge */
    scrollbar-width: none;
    /* Hide scrollbar in Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.experience-container::-webkit-scrollbar {
    display: none;
}

i.scroll-horizontly {
    font-size: 40px;
    z-index: 2;
    opacity: 0.5;
    color: var(--text-medium-color);
}

i.scroll-horizontly:Hover {
    opacity: 1;
}

.experience-indicator {
    width: auto;
    display: block;
    margin: 16px auto;
    text-align: center;
}

.experience-indicator li {
    border: 4px solid var(--text-dark-color);
    display: inline-block;
    border-radius: var(--border-radius-circle);
    height: 16px;
    width: 16px;
    margin: 0 6px;
}

.experience-indicator li.active {
    background-color: var(--text-dark-color);
}

.download {
    margin-top: 100px;
    text-align: center;
    color: var(--text-medium-color);
}

.download a {
    color: var(--text-dark-color);
    border-bottom: solid 1px var(--text-dark-color);
}

.button {
    padding: 16px 32px;
    border-radius: var(--border-radius-small);
    background-color: transparent;
    border: 4px solid var(--text-dark-color);
    color: var(--text-dark-color);
    display: inline-block;
    white-space: nowrap;
    font-size: var(--button-font-size);
    cursor: pointer;
    margin-bottom: 16px;
}

.button.primary {
    background-color: var(--text-dark-color);
    color: var(--text-light-color);
}

/*---------------------------------------
       SERVICES               
-----------------------------------------*/

.card {
    border: none;
    background-color: var(--bg-color);
}

.card-header:not([class*="collapsed"]):hover {
    background-color: var(--bg-dark-color);

}

.card a {
    text-align: right;
    position: relative;
}

.card a i {
    position: absolute;
    left: 32px;
    top: calc(50% - 15px);
}

.service {
    font-size: var(--h5-font-size);
    text-transform: capitalize;
    background-color: var(--bg-light-color);
}

/*----------------------------------------
       CONTACT
-----------------------------------------*/

#contact a {
    margin-top: 16px;
    cursor: pointer;
    display: inline-block;
}

#contact a.copy {
    margin-left: 16px;
}

.tooltip {
    display: inline;
    border-radius: var(--border-radius-small);
    background-color: var(--text-dark-color);
    color: var(--text-light-color);
    padding: 16px;
    opacity: 0;
    z-index: 10;
    transition: opacity 0.3s;
}

/*---------------------------------------
FOOTER              
 -----------------------------------------*/

.social-links {
    margin: 4rem 0 1rem 0;
    text-align: center;
}

.social-links a {
    color: var(--text-dark-color);
    display: inline-block;
    list-style: none;
    font-size: 3rem;
    margin: 0 10px;
}

.social-links a:hover {
    color: var(--text-medium-color);
}

footer {
    background-color: var(--bg-light-color);
    padding: 1rem;
    font-size: 1rem;
    text-align: center;
    position: sticky;
    margin-top: -160px;
    z-index: 6;
    border-radius: var(--border-radius-large) var(--border-radius-large) 0 0;
    box-shadow: 0 -16px 32px;
}

footer .logo {
    position: absolute;
    width: 100px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    font-family: barton;
    right: calc(50% - 50px);
    top: -56px;
}

footer .logo .top {
    font-size: 24px;
    padding: 8px 0;
    border-radius: var(--border-radius-small) var(--border-radius-small) 0 0;
    color: var(--white-color);
    border: 4px solid var(--black-color);
    border-bottom: none;
}

footer .logo .bottom {
    border: 4px solid var(--black-color);
    border-top: none;
    font-size: 24px;
    padding: 8px 0;
    border-radius: 0 0 var(--border-radius-small) var(--border-radius-small);
    color: var(--black-color);
}

.calendly-overlay .calendly-popup {
    width: 100% !important;
    height: 100% !important;
    max-width: 100% !important;
    max-height: 100%ยง !important;
}